<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>

    <link rel="stylesheet" href="/static/css/zerogrid.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/lightbox.css">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/menu.css">

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/script.js"></script>

    <style>
        .button{background-color: #333;border-radius: 4px; padding: 10px 15px;color: #fff;}
        .button:hover{background-color: #eee;color: #333;}
    </style>
</head>
<body>
    <div class="wrap-body">
        <div class="header">
            <div id='cssmenu' >
                <ul>
                    <li class="active"><a href="{% url 'blog:index' 1 %}"><span>首页</span></a></li>
                    <li><a href="{% url 'blog:edit_page' 0 %}"><span>新文章</span></a></li>
                    <li><a href="{% url 'blog:author' %}"><span>关于作者</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <button class="button" onclick="window.history.go(-1)">返回</button>
    <div class="copyright">
        <div class="zerogrid wrapper">
            作者：{{ author }}
        </div>
    </div>

    <h1 align="center">{{ article.title }}</h1>
    <br/>
    <h3>{{ article.content }}</h3>
    <br/>

    <a href="{% url 'blog:edit_page' article.id %}">修改文章</a>

    <div class="custom-banner">
        <img src="/static/images/main-bottom.jpg">
    </div>
    <!--////////////////////////////////////Footer-->
    <footer>
        <div class="copyright">
            <div class="zerogrid wrapper">
                Copyright @ hearing
                <ul class="quick-link">
                    <li>Author：刘家东</li>
                    <li>Email：1124031072@qq.com</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>